<!DOCTYPE html>
<html lang="en">
<head>
	<title>EasyPet</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="./static/third-party/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="./static/css/styles.css">
	<link rel="stylesheet" href="./static/css/chat.css">
	<script src="./static/js/third-party/jquery.min.js"></script>
	<script src="./static/third-party/bootstrap/js/bootstrap.min.js"></script>
	<script src="./static/js/utils.js"></script>
	<script type="text/javascript" src="static/js/third-party/vue.js"></script>
	<script type="text/javascript" src="static/js/third-party/axios.min.js"></script>
	
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"
</head>
<body onload="checkLogin()">
	<div id="vueapp">
		<nav class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 0px">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="./home.html">EasyPet</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a class="dropdown-toggle clickable" data-toggle="dropdown">
							<img src="./static/img/en-flag.png" class="flag" id="language_flag"> </img>
							{{ literals.languages[language_id] }} <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li onclick="changeLanguage('en')"><a class="clickable"> <img src="./static/img/en-flag.png" class="flag"> </img> english</a></li>
							<li onclick="changeLanguage('ua')"><a class="clickable"> <img src="./static/img/ua-flag.png" class="flag"> </img> українська</a></li>
						</ul>
					</li>
					<li><a :href="'./viewuser.html?' + client.id"><span class="glyphicon glyphicon-user"></span> {{ client.username }}</a></li>
					<li><a class="clickable" onclick="logout()"><span class="glyphicon glyphicon-log-in"></span> {{ literals.logout[language_id] }}</a></li>
				</ul>
			</div>
		</nav>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li><a href="./mypets.html">{{ literals.my_pets[language_id] }}</a></li>
						<li><a href="./users.html?friends">{{ literals.my_friends[language_id] }}</a></li>
						<li class="active"><a href="">{{ literals.messages[language_id] }}</a></li>
						<li><a href="./users.html">{{ literals.users[language_id] }}</a></li>
						<li><a href="">{{ literals.shops[language_id] }}</a></li>
					</ul>
				</div>
			</div>
        </div>
		
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header">{{ literals.messages[language_id] }}</h1>
			<div class="messaging">
			  <div class="inbox_msg">
				<div class="inbox_people">
				  <div class="headind_srch">
					<div class="recent_heading">
					  <h4>Recent</h4>
					</div>
				  </div>
				  <div class="inbox_chat">
					<div :class="'clickable chat_list ' + isActive(chat)" v-for="chat in chats" :onclick="'changeChat(' + chat.id + ')'">
					  <div class="chat_people">
						<div class="chat_img"> <img :src="'http://127.0.0.1:8000' + chat.second_user_full.avatar" class="img-circle"> </div>
						<div class="chat_ib">
						  <h5>{{ chat.second_user_full.username }} <span class="chat_date">{{ getShortTimestamp(chat.last_message.timestamp) }}</span></h5>
						  <p>{{ getShortMessage(chat.last_message) }}</p>
						</div>
					  </div>
					</div>
				  </div>
				</div>
				<div class="mesgs">
				  <div class="msg_history" id="message_box">
					<div :class="getTypeMessage1(message)" v-for="message in getCurrentChatMessages()">
					  <div :class="getImgTypeMessage(message)"> 
					    <a style="clickable" :href="'./viewuser.html?' + message.from_user_full.id">
						  <img :src="'http://127.0.0.1:8000' + message.from_user_full.avatar" class="img-circle"> 
						</a>
					  </div>
					  <div :class="getTypeMessage2(message)">
						<div :class="getTypeMessage3(message)">
						  <p>{{ message.message }}</p>
						  <span class="time_date">{{ getLongTimestamp(message.timestamp) }}</span></div>
					  </div>
					</div>
				  </div>
				  <div class="type_msg">
					<div class="input_msg_write">
					  <input type="text" class="write_msg" placeholder="Type a message" id="message_text" onkeyup="keyUp(event)">
					  <a class="button_send_message"> 
						<img class="clickable img-circle" src="static/img/send_message.svg" onclick="sendMessage()" id="send_message_img"> </img>
					  </a>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			
		</div>
	</div>
</body>

<script src="./static/js/settings.js"></script>
<script src="./static/js/vueapp.js"></script>
<script src="./static/js/main.js"></script>
<script src="./static/js/chat.js"></script>

</html>
